

.button_container {
    size: inherit;
}
.buttons {
    margin: auto;
    size: inherit;
    width: 55px;
}
  .button_container {
    text-align: center
  }

  /* for the border content */
  .outside_container {
    margin: 0 auto;
  }


.center {
  margin: auto;
  width: 100%;
  border: 5px;
  padding: 100px;
}



.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: blue;


}
.one {
  grid-column: 2/.5 ;
  grid-row: 1;
  color:white;
  font-size: 210%;
}

.top-left {
  position: absolute;
  top: 30px;
  left: 90px;
  color:white;
}
h3
{
  font-size: 210%;

}

.cc {
  position: absolute;
  top: 140px;
  right: 1000px;
  color:blue;

}



.center01 {
  margin: auto;
  width: 100%;
  border: 5px;
  padding: 200px;
}
.hidden {
    display: none;
}
/* Bellow is completely unnecessary */
* {
	font-family: Arial;
	font-size: 13px;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: solid 2px white;
    perspective: 1000px; /* Remove this if you don't want the 3D effect*/
    margin: 0 auto; /*center the cards*/
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    text-align:center;
    padding: 70px;


  }

  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    padding: 70px;

  }

/* bootstrap CSS */
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

.showingCards{
 display: inline-block;
}
